.wp-block-happyprime-show-hide-group details.wp-block-happyprime-show-hide-section {
	border-bottom: 1px solid;
	padding: 1em 0;
}

.wp-block-happyprime-show-hide-group details.wp-block-happyprime-show-hide-section[open] {
	padding-bottom: 0;
}

.wp-block-happyprime-show-hide-group details.wp-block-happyprime-show-hide-section:nth-child(2) {
	border-top: 1px solid;
}

.wp-block-happyprime-show-hide-group .toggle-all {
	cursor: pointer;
	font-size: 0.75em;
	position: relative;
	text-transform: uppercase;
	background: none;
	border: none;
	color: inherit;
	line-height: inherit;
	margin: 1em 0;
	overflow: visible;
	padding: 0 1.5em 0 0;
}

.wp-block-happyprime-show-hide-group .toggle-all::after,
.wp-block-happyprime-show-hide-section > summary::after {
	/* stylelint-disable function-url-quotes */
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path fill="none" d="M0 0h10v10H0z"/><path fill="rgba(0,0,0,.67)" d="M10 4.69H5.31V0h-.62v4.69H0v.62h4.69V10h.62V5.31H10v-.62z"/></svg>');
	/* stylelint-enable function-url-quotes */
	content: "";
	display: inline-block;
	height: 1em;
	position: absolute;
	right: 0.25em;
	top: calc(50% - 0.5em);
	width: 1em;
	transition: transform 0.3s ease;
}

.wp-block-happyprime-show-hide-group .toggle-all[aria-expanded="true"]::after,
.wp-block-happyprime-show-hide-group details.wp-block-happyprime-show-hide-section[open] summary::after {
	transform: rotate(-135deg);
}

.wp-block-happyprime-show-hide-section > summary {
	position: relative;
	cursor: pointer;
	list-style: none;
}
